<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login Form</title>
</head>
​
<body>
    <!----Main Container--->
    <div class="container">
        <!-- Navigation Bar -->
        <div class="header">
            <div class="title"> Title</div>
            <div class="navigation"> Navigation</div>
        </div>
        <!--  -->
​
​
        <div class="main">
​
            <a href="index.html" class="active">Login</a>
            <!--Switching Pages between signup and login--->
            <a href="signup.html">Signup</a>
​
​
            <div class="signup">
                <form action="" method="POST">
                    <div class="user-details">
                        <!-- Input Box -->
                        <div class="input-box">
                            <span class="details">  Name: </span>
                            <input type="text" name="firstname" placeholder="Enter Your Name" required> <br><br> </div>
​
                        <div class="input-box">
                            <span class="details"> E-mail Address:<br> </span>
                            <input type="email" name="email" placeholder="Enter Your E-mail" required> <br><br> </div>
                        <div class="input-box">
                            <span class="details">    Password: </span>
                            <input type="password" name="password" placeholder="Password" required> </div>
                        <div class="input-box">
                            <span class="details">   Confirm Password:</span>
                            <input type="password" name="cpass" placeholder="Confirm Password" required></div>
                        <div class="gender-details">
                            
                    </label>
                            </div>
                        </div>
​
                    </div>
                    <!-- Login Button -->
                    <div class="button"><input type="submit" name="submit" value="Login">
                    </div>
                </form>
​
            </div>
​
​
        </div>
    </div>
</body>
​
</html>