<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Signup Form</title>
​
</head>
​
<body>
    <!----Main Container--->
    <div class="container">
        <div class="header">
            <!-- Navigation Bar -->
            <div class="title"> Title</div>
            <div class="navigation"> Navigation</div>
        </div>
        <!--  -->
​
        <div class="main">
            <a href="index.html">Login</a>
            <!--Switching Pages between signup and login--->
            <a href="signup.html">Signup</a>
​
            <div class="signup">
                <form action="" method="POST">
                    <div class="user-details">
                        <!-- Input Box -->
                        <div class="input-box">
                            <span class="details">  First Name: </span>
                            <input type="text" name="firstname" placeholder="Enter Your First Name" required> <br><br> </div>
                        <div class="input-box">
                            <span class="details">   Last Name: </span>
                            <input type="text" name="lastname" placeholder="Enter Your Last Name"> <br><br> </div>
                        <div class="input-box">
                            <span class="details"> E-mail Address:<br> </span>
                            <input type="email" name="email" placeholder="Enter Your Valid E-mail" required> <br><br> </div>
                        <div class="input-box">
                            <span class="details">    Password: </span>
                            <input type="password" name="password" placeholder="Password" required> </div>
                        <div class="input-box">
                            <span class="details">   Confirm Password:</span>
                            <input type="password" name="cpass" placeholder="Confirm Password" required></div>
                        <div class="gender-details">
                            <!-- Gender -->
                            <span class="gender-title">   Gender: </span><br>
                            <div class="category">
                                <label for="">
                        <span class="dot one"></span>
                                <span class="gender"> <input type="radio" name = "gender" value = "Male"> Male </span>
                                </label>
                                <label for="">
                                    <span class="dot one"></span>
                        <span class="gender"><input type="radio" name = "gender" value = "Female" > Female </span>
                        </label>
                                <label for="">   
                        <span class="dot one"></span>
                        <span class="gender"><input type="radio" name = "gender" value = "Other"> Other </span> <br><br>
                    </label>
                            </div>
                        </div>
​
                    </div>
                    <!-- Signup Button -->
                    <div class="button"><input type="submit" name="submit" value="SignUp">
                    </div>
                </form>
​
            </div>
​
​
        </div>
    </div>
</body>
​
</html>