<!-- ABOUT -->
<div class="container-fluid text-center border border-dark">
    <h2 class="text-decoration-underline">About Us</h2>
    <p>This site is designed to help the every day person track their workout progress. With the help of a weatherAPI, we enable the user to create a workout day, such as leg day, arms, back, ect. and assign different exercises to that day. Beyond that, you will be able to input the amount of reps that you did and for what weight. We also allow the user to track their weight. Starting with their current weight and their goal weight so that they can see the progress as they keep going.</p>
</div>
<!-- Daily Overview -->

<div class="container-fluid text-center">
    <h2 class="text-decoration-underline">Daily Overview</h2>
    <h3>Weather</h3>
    <div class="Weather">
     <div id="temp"></div>
     <div id="clouds"></div>
     <div id="wind"></div>
     <div id="wind_dir"></div>
    </div>
    <div>
        {{#if logged_in}}
        <div class="container-fluid text-left">
            <ul>
                <li> Current Weight: {{currentWeight}} lbs</li>
                <li> Current Weight goal: {{goalWeight}} lbs</li>
            </ul>
        </div>
        {{else}}
        <div>
            <button>Log In</button>
        </div>
        {{/if}}
    </div>
</div>
<script src="./js/login.js"></script>
<script src="/js/weatherAPI.js"></script>
</html>

