<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Overview</title>
</head>
​
<body>
​
</body>
<!----Main Container--->
<div class="container">
    <div class="header">
        <!-- Navigation Bar -->
        <div class="title"> Title</div>
        <div class="navigation"> Navigation</div>
    </div>
    <!--  -->
​
    <!-- ABOUT -->
    <div class="about"> About the Site</div>
    <!-- Daily Overview -->
    <div class="dailyOverview">Daily Overview</div>
    <!-- Signup/Login Button -->
    <div class="overviewButtons">
        <form action="index.html">
​
            <div class="button"><input type="submit" name="submit" value="SignUp"></div>
            <div class="button"><input type="submit" name="submit" value="Login"></div>
        </form>
    </div>
​
​
</div>
​
</html>