<div class="logIn">
    <form>
        <div>
            <label for="userName" class="form-label">Username</label>
            <input type="text" class="form-control" id="userName">
        </div>
        <div>
            <label for="password" class="form-label">Passowrd</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
<div class="signup">
    <form action="" method="POST">
        <div class="user-details">
            <!-- Input Box -->
            <div class="input-box">
                <span class="details">  First Name: </span>
                <input type="text" name="firstname" placeholder="Enter Your First Name"> <br><br>
            </div>

            <div class="input-box">
                <span class="details">   Last Name: </span>
                <input type="text" name="lastname" placeholder="Enter Your Last Name"> <br><br> 
            </div>

            <div class="input-box">
                <span class="details"> Username<br> </span>
                <input type="text" name="userName" placeholder="Enter a Username"> <br><br> 
            </div>

            <div class="input-box">
                <span class="details">    Password: </span>
                <input type="password" name="password" placeholder="Password">
            </div>

            <div class="input-box">
                <span class="details">   Confirm Password:</span>
                <input type="password" name="cpass" placeholder="Confirm Password">
            </div>

        </div>

        <!-- Signup Button -->
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
